.CreateCourseMainContainer {
  margin-top: 20px;
  /* overflow-x: hidden; Prevent horizontal overflow */
  /* overflow-y: auto;  */
}
.mainTitle {
  text-align: center;
  font-weight: 700;
}
.pageNumberContainer {
  display: flex;
}
.pageNumber {
  margin-left: 90%;
}
.buttonsNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10%;
}
.backButton,
.nextButton,
.submitButton {
  width: 5rem;
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.backButton {
  background-color: lightgray;
  color: black;
}
