:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .heroContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    background-color: #0e3f70;
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50% / 20%;
    height: 100vh;
  }
  
  
  .heroTitle {
    flex: 1;
    margin-top: 150px;
    margin-left: 50px;
  }
  
  .heroHeading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
  .heroHeading>span{
    display: inline-block;
    margin-top: 10px;
    background-color: white;
    color: #0e3f70;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .heroSubheading {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
  
  .heroButton {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .heroButton:hover {
    background-color: black;
    color: rgb(255, 255, 255);
  }
  
  .heroImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;

  }
  
  .heroImage {
    max-width: 100%;
    height: auto;
    max-height: 35em;
    filter: drop-shadow(10px 10px 10px black);
  }
  