.nf_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .nf_illustration {
    margin-bottom: 20px;
  }
  
  .nf_image {
    max-width: 100%;
    height: auto;
    width: 300px; /* Adjust as per your design */
  }
  
  .nf_title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .nf_message {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .nf_button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nf_button:hover {
    background-color: #4cae4c;
  }
  