.formContainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
  overflow-y: auto;   
  max-width: 100%;    
  box-sizing: border-box;
}

.formDiv {
  display: flex;
  width: 100%;
  gap: 10%;
}

.formDivLeft {
  width: 50%;
}

.formDivRight {
  width: 50%;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
}

.inputField{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  outline: none;
}


.dropdowns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dropdown {
  width: 45%;
}

textarea {
  resize: vertical; 
}

/* Submit button */
.submitButton[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton[type='submit']:hover {
  background-color: #45a049;
}

/* Custom upload button */
.inputField[type='file'] {
  display: none; /* Hide the default file input button */
}

.uploadButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.uploadButton:hover {
  background-color: #0056b3;
}

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 50px 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
  color: #007bff;
}

  .previewImage {
    max-width: 100%;     /* Ensure the image doesn’t exceed the container width */
    max-height: 300px;   /* Limit the height to prevent tall images from causing overflow */
    object-fit: contain; /* Maintain the aspect ratio and contain the image within the given dimensions */
    padding: 0;
    border: 1px solid #ccc; /* Optional: add a border for better visual feedback */
    border-radius: 5px;
  }

/* Responsive styles */
@media (max-width: 600px) {
  .formContainer {
      width: 100%;
      padding: 20px 40px;
  }

  .formDiv {
      flex-direction: column;
  }

  .formDivLeft, 
  .formDivRight {
      width: 100%;
  }

  .inputField,
  textarea,
  select {
      font-size: 14px;
  }
}
